body {
  background-image: url("joker.png");
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: gold;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
  transform: skew(-10deg);
}

